.contact-section {
  width: 1032px;
  height: 100px;
  margin-top: 120px;
  margin-bottom: 95px;
  direction: ltr;
}

.social-media-icon {
  color: #8dd3bb;
  font-size: 20px;
}
svg.social-media-icon{
  width: 20px;
  height: 20px;
}
.social-media svg{
  width: 25px;
  height: 25px;
}

.location-text {
  font-size: 16px;
  line-height: 30.7px;
  font-weight: 300;
}


.mobile-view-social {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.mobile-view-social div{
  background-color: #8dd3bb;
  color: white;
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center ;
}
.mobile-view-social .social-media-icon {
  color: white;
  font-size: 1.6rem;

} 
div.container.contact-section > div.contact-Ay > div.row.g-0 > div.col-4.social-media > div{
  display: flex;
  justify-content: center;
  align-items: center;
}
#root > div.place-details-hotel > div.details-content > div.container.contact-section > div.contact-Ay > div.row{
  margin-bottom: 20px;
}
@media (max-width:768px) {
.contact-section .social-media{
  display: none !important;
}

.contact-section {
  display: flex;
  gap: 53px;
  direction: rtl;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 80px auto;
  padding-right: 1rem;
  margin-bottom: 50px;
}
.contact-section .row .col-4 {
  width: 100%;
}
.contact-section .row .col-4 .col-1{
  padding: 0;
  margin-bottom: 10px;
}
/* .contact-section .contact-AYY {
  width: 100% !important;
} */
.contact-Ay {
  display: none;  
}

}

@media (min-width:769px) {
  .mobile-view-social {
    display: none !important;
  }
  .mobile-view-contact{
    display: none !important;

  }
}

@media (max-width:992px) {
  
  .contact-section .row .contact-info {
    font-size: 0.9rem;
    width: 90%;
  }  
}


.mobile-view-location-ay {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}