.BY_Hero{
    height: 100vh;    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.hero-section .container{
    padding-right: 112px !important;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 25px;
}
.hero-section  .hero-text .container{
    text-align: right;
    color: var(--white);
}
.hero-section .hero-text .container h1{
    font-size: 7rem;
}
.hero-section .hero-text .container  h4{
    font-size: 2.25rem;
}
.hero-text .explore-button button{
    width: fit-content !important;
    padding: 0 1rem;
    border-radius: 7px;
    outline: none;
    color: var(--black_button_text);
    background-color: var(--main_green);
    font-size: var(--font_size_section_title_responsive);
    border: 1.75px solid var(--white) ;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.slider .slide-container {
    padding: 20px 0 20px 20px;
    position: relative;
}

.slider .slide {
    width: 200px !important;
    height: 300px !important;
    border-radius: 38.19px;
    overflow: hidden;
    cursor: pointer;
    border: 7px solid rgba(255, 255, 255, 0.35);
    transition: .5s ease;
    transform: scale(.9);
    position: relative !important;
}

.slider .slide-title {
    width: 200px !important;
    position: absolute !important;
    bottom: 60px;
    z-index: 100;
    color: white !important;
    text-align: center !important;
    transition: .5s ease;
}

.slider .slide-title.active {
    transition: .5s ease;
    bottom: 30px;
}

.slider .slide.active {
    transform: .5s ease;
    transform: scale(1.1);
    border-color: rgba(141, 211, 187, 0.53);
}

.slider .slide .slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 20px !important;
}

.slider .slide div:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    position: relative;
    z-index: 30;
    width: fit-content;
    margin: 50px auto 0;
}

.dots::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: rgba(141, 211, 187, 0.53);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.dots .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    color: white;
    font-size: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: none;
}

.dots .dot.active {
    background-color: rgba(141, 211, 187, 1);
    transform: scale(2);
    color: black;
}

@media screen and (max-width: 1390px) {
    .cover-container .row {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        transform: translateY(-10%);
    }

    .hero-text h1 {
        font-size: 2rem !important;
    }
    .hero-text h4 {
        font-size: 1.5rem !important;
        margin: -10px 0;
    }

    .hero-text a button {
        font-size: 1.2rem !important;
    }
}

@media screen and (max-width: 600px){
    .dots {
        display: none;
    }
    .slider {
        margin: 50px auto;
    }
    .slide {
        width: 90% !important;
        height: 500px !important;
        margin: 0 auto !important;
    }
    .slide-title {
        transform: translateX(-50%) !important;
    }
    .slider .slide.active {
        transform: scale(.9);
        border-color: rgba(141, 211, 187, 0.53);
    }
    .slider .slide-title.active {
        bottom: 60px !important;
    }
    .slider .slide-title {
        position: absolute !important;
        left: 50% !important;
        transform: translateX(-45%) !important;
    }
}